extends ../layouts/default

block content
	.container: .jumbotron
		.logo-welcome
			a(href='/blog')
				img(src='/images/logo.png')
			.row 
				.col-sm-4.col-md-6
					.google-addds2
						script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
						ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='7950479822', data-ad-format='auto', data-full-width-responsive='true')
						script.
							(adsbygoogle = window.adsbygoogle || []).push({});
		h1 Welcome, are you ready to do better? 
		section.intro
			p 
				| - Justify your actions, Suppres your drive for bad habits and say STOP.
			p  
				| - A bad habit is a negative behaviour pattern. Common examples include: procrastination, overspending, nail-biting and spending too much time watching television or using a computer.
			p
				| - Establish a plan to handle temptations you face regularly. Decide in advance how you'll deal with your weaknesses so that you are in control of the situation.
			p
				| -  Get more sleep, it gives you less time to eat! Cut down on watching television. You'll have less time wasted and more time to be physically or mentally active.
			p
				| - Set achievable goals and target to improve yourself. Unrealistic expectations are driving you up for failure so be mindful. 
			p 
				|  - Think positively! Negative thoughts only serve to undermine your efforts. Write down inspiring comments and ideas and read them whenever you need help staying focused on your goals. Have a daily todo list.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			.container-img
				img(src="/images/icons/ico1.png").index-ico
				img(src="/images/icons/ico6.png").index-ico
				img(class='index-ico' src="/images/icons/ico3.png")
				img(src="/images/icons/ico5.png").index-ico
				img(src="/images/icons/ico4.png").index-ico
				
				

			
		hr
		p  © Copyright 
			a(href='http://www.georgecrisan.com/' target='_blank') Terms of Use
