extends ../layouts/default

block content
	.container: .jumbotron
		.logo-welcome
			img(src='/images/logo.png')
			script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
			ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='7950479822', data-ad-format='auto', data-full-width-responsive='true')
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
		h1 Welcome	
		p 
			| Web development tutorials about front-end, back-end and how to set up building tools.
			<br/>
			| The aim is to learn and use latest in terms of web development technologies.
			<br/>
		p Visit my <a href='https://github.com/GeorgeCrisanb' target='_blank'>GitHub page </a> and see more of my work.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			.container-img
				img(src="/images/icons/ico1.png").index-ico
				img(src="/images/icons/ico6.png").index-ico
				img(class='index-ico' src="/images/icons/ico3.png")
				img(src="/images/icons/ico5.png").index-ico
				img(src="/images/icons/ico4.png").index-ico
				
				

			
		hr
		p Please visit my Portfolio website at 
			a(href='www.georgecrisan.com' target='_blank') georgecrisan.com
