#body 
  .container > h1 
    color: white
  h4
    color: white 
  h2 
    color: white
    text-align: center  
.blog
  .post 
    .img 
      height: 80%
      width: 30%
      margin-left: 10px
.list-group
  padding-left: 30px
  
.post
  background: rgba(245, 245, 238,0.98)
  min-height: 320px 
  h2 
    padding: 20px 20px 20px 20px
    margin: 0
    a 
      text-align: center
      margin: auto
      display: inline
    
    a:hover 
      text-decoration: none
  .lead
    padding: 10px
    margin: 0
    margin-left: 10px 
  p 
    margin-left: 20px
   
  
       
.read-more
  position: relative
  bottom: - 30px 
  left: - 25px
  max-width: 200px
  margin: 20px 0 0 0 !important
  font-size: 17px
  text-align: center
  
  a
    color: grey
    text-shadow: 0px 0px 5px #dddddd
    &:hover 
      color: black
      text-decoration: none
.google-addds
  position: sticky
  height: 600px 
  width: 300px
  top: 450px
  z-index: 43423




@media all and (max-width: 768px)  
  .read-more
    position: relative
    top: 30px
    left: -40px 
    margin: auto
    a 
      text-align: left
  .blog .post
    background: rgba(245, 245, 238,0.98)
    min-height: 340px 
    h2 
      padding: 20px 20px 0 20px
      font-size: 20px
      
      a:hover 
        text-decoration: none
    .lead
      padding: 10px
      margin: 0
      margin-left: 10px 
      font-size: 12px
    p
    img 
      margin: 10px 10px 10px 10px  
      width: 40%
      max-width: 50%

       

  .google-addds
    position: static
    width: 90%
    margin: 10px auto auto auto
    z-index: 43423 
    ins
      width: 90%
      margin: auto
 