.google-addds2
  height: 460px
  width: 400px 
  max-height: 580px
  margin: auto
  z-index: 43423
  position: relative
  ins
    width: 90% 
    margin: auto 

.body-contact
  background: rgba(45, 145, 138,0.98) 
  padding-bottom: 60px


@media all and (max-width: 768px)
  .google-addds2
    height: 400px
    width: 320px 
