.container-img 
  display: flex
  justify-content: space-around
  .index-ico
    border-radius: 100px
    width: 25%
    max-height: 90px
    max-width: 80px
    height: 25%

.jumbotron
  .logo-welcome
    display: flex
    justify-content: space-around
    img 
      width: 40%
      height: 50%
    h1 
      align-self: center  