.navbar-default
  background: linear-gradient(145deg,#00b4db,#0083b0) !important


.navbar-header
  .navbar-brand
    color:  #1e5799
    text-shadow: 0px 0px 3px  rgba(30,87,153,0.4)
    &:hover 
      color: #1e5799
  
.navbar-toggle 
  .icon-bar 
    background: white !important
  &:active,&:focus 
    background: rgba(255,255,255,0)
.active 
  transform: scale(1.2)



    


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus
  background-color:  #1e5799
  color: white
  border-radius: 0px
  &:hover
    background-color:  #1e5799
    color: white
    position: relative
    top: 0px
  
.x-transform
  border: none
  .icon-bar 
    width: 30px
  .icon-bar:nth-child(2)
    transition-duration: 0.5s
    transform: translateY(5px) rotate(135deg);
  .icon-bar:nth-child(3) 
    display: none
  .icon-bar:nth-child(4)  
    transition-duration: 0.5s
    transform: translateY(-1px) rotate(-135deg);
    

.navbar-default .navbar-nav>li>a 
  color: white

  &:hover 
    color: rgba(30,67,153,1)
    transition-duration: 0.3s
    

@media all and (max-width: 768px)
  .active 
    transform: scale(1)

  .navbar-toggle
    border: none
    .icon-bar 
      width: 30px




  .navbar-toggle:active,.navbar-toggle:hover, .navbar-toggle:focus ,.navbar-toggle:visited
    background: rgba(255,255,255,0.0) !important
    border: none
  .active
    a
      text-align: center

      
     
  .custom-nav-element  
    li 
      margin: 10px 0px
      width: 100%
      a
        padding: 0 0 0 0px   
        padding: 5px !important
        text-align: center



@media all and (min-width: 768px) and (max-width: 769px)
  .active 
    transform: scale(1)
    margin: auto
  .active
    width: 100% !important
    a
      margin-left: 0px
      
  .navbar-collapse.collapse
    display: flex !important
    flex-flow: row nowrap
    ul 
      display: flex
      margin: 5px 0 0 0
      li 
        width: 90px
        text-align: center
        a 
          padding: 0 
          position: relative
  .navbar-right 
    li 
      position: relative 
      top: 15px
      left: 180px
      a 
        font-size: 16px