.post-inner 
  h2 
    color: grey !important
   
.post-sass
  background: rgba(245, 245, 238,0.98)
  border-radius: 5px
  p 
    padding: 0 10px 0 10px   
    font-size: 16px
  h1 
    color: grey   
  article
    a[href='/blog']
      margin-left: 0
      position: relative
      top: 20px
.adsbygoogle 
  margin: 10px auto 20px auto

.post 
  margin: 20px 0
  box-sizing: border-box
  padding: 0 10px 50px 10px 
  border-radius: 5px
  &>img
    border-radius: 5px
    border: 1px solid grey

.image-wrap
  img 
    border: 1px solid grey   
    margin: auto
.code-toolbar
  pre
    font-size: 16px !important

   
 
     

@media all and (max-width: 768px)
  .post-adds
    margin: 10px auto 0 auto
    width: 90%    

  .post-inner   
    div 
      div
        overflow-y: auto

  .code-toolbar
    pre
      font-size: 14px !important      